@import "tailwindcss";

@theme {
  --color-border: #F3F4F6; /* Gray 100 */
  --color-input: #F3F4F6; /* Gray 100 */
  --color-ring: #059669; /* Emerald 600 */
  --color-background: #FFFFFF;
  --color-foreground: #111827; /* Gray 900 */

  --color-primary: #059669; /* Emerald 600 */
  --color-primary-foreground: #FFFFFF;

  --color-secondary: #F9FAFB; /* Gray 50 */
  --color-secondary-foreground: #111827; /* Gray 900 */

  --color-destructive: #EF4444; /* Red 500 */
  --color-destructive-foreground: #FFFFFF;

  --color-muted: #F9FAFB; /* Gray 50 */
  --color-muted-foreground: #6B7280; /* Gray 500 */

  --color-accent: #F9FAFB; /* Gray 50 */
  --color-accent-foreground: #111827; /* Gray 900 */

  --color-popover: #FFFFFF;
  --color-popover-foreground: #111827; /* Gray 900 */

  --color-card: #FFFFFF;
  --color-card-foreground: #111827; /* Gray 900 */

  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}